<% if logged_in? %>
    <%= link_to "Editors", editors_path %>
    <%= link_to "Settings", edit_editor_path(current_editor) %>
    <%= link_to "Log out", logout_path, method: "delete" %>
<% end %>
<div>
    Lorem ipsum desktop
</div>