<% if logged_in? %>
    <%= link_to "Settings", edit_editor_path(current_editor) %>
    <%= link_to "Log out", logout_path, method: "delete" %>
<% end %>
<div class="manifesto">
  <p class="extract">Lorem Ipsum dolor sit amet</p>
</div>
<div class="logo-home">
</div>
<div class="navigation">
  <div class="search">
  </div>
  <div class="facebook">
  </div>
  <div class="contact">
  </div>
  <div class="concerts">
  </div>
  <div class="musicians">
  </div>
  <div class="instruments">
  </div>
</div>