<% if @editor.errors.any? %>
  <div>
    <div>
      The form contains <%= pluralize(@editor.errors.count, "error") %>.
    </div>
    <ul>
    <% @editor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>