<% provide(:title, 'All editors') %>
<h1>All editors</h1>

<ul>
  <% @editors.each do |editor| %>
    <li></li>
      <%= link_to editor.name, editor %>
        <% if current_editor.admin? && !current_editor?(editor) %>
            | <%= link_to "delete", editor, method: :delete,
                                            data: { confirm: "You sure?" } %>
        <% end %>
    </li>
  <% end %>
</ul>