// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// USA SASSSSSSSSSSSSSSSSSSSSSSSSSSSSS!!!!!! ciao

.manifesto, .concerts, .musicians, .instruments {
//  width: 100vw;
  height: 100vh;
}

.manifesto {
  .extract {
    display: block;
    width: 60vw;
    font-size: 10em;
    margin: 2.5em auto;
  }
}